<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.deahu.weizhang"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name="com.deahu.activity.TrafficViolationActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.deahu.activity.ShortNameList">
        </activity>
        <activity android:name="com.deahu.activity.ProvinceList">
        </activity>
        <activity android:name="com.deahu.activity.CityList">
        </activity>
        <activity android:name="com.deahu.activity.WeizhangResult">
        </activity>

        <service android:name="com.cheshouye.api.client.WeizhangIntentService"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>